<div style="text-align: center; color:white; font-size:50px">Say Hello </div>
<div style="text-align: center; color:white; font-size:20px">Reach Out To Us & Let's Discuss Your Project </div>
<address>
  Studio Chhaya<br />
  Darbargadh Chowk<br />
  Bhuj-Kutch <br />
  <abbr title="Phone">P:</abbr>
  <span class="glyphicon-phone"> +91-2832-221785</span>
  <span class="glyphicon-phone"> +91-97277 94910</span>
</address>

<address>
  <strong>Contact Email:</strong>   <a href="mailto:studiochhaya@gmail.com">studiochhaya@gmail.com</a>
</address>
